.cabecalhoFinalizacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.containerResumo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label{
    margin-top: 2em;
    color: #52F2B8;
}

.inputNome {
    width: 500px;
    padding: 10px;
    border: 1px solid black;
    border-radius: .5em;
}

.opcoesFinalizacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em
}