.cabecalhoEscolha{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 20px;
}

.containerEscolhas {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.subtitulo {
    text-align: center;
}