@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    background-color: #106EBE;
    font-family: 'Rubik', sans-serif;
}

header{
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

main{
    
}